
body{
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande'
    , 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
line-height: 27px;
background-color: rgb(255, 243, 226);
}
.tab{
    border: 2px black solid;
    margin: 15px;
    font-size: 18px;
    text-align: left;
    width: 90%;
}

th ,td{
    border: 2px black solid;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
h1{
   
    height: 30px;
    width: auto;
    text-align: center;
}
.intro{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}
.vi{
width: 50%;
margin-left: auto;
margin-right:auto;
}
a{
    text-decoration: none;
    color: rgb(35, 123, 255);
    border: 2px black solid;
    padding: 7px;
    margin: 7px;
  
}
a:hover{
    font-size: 18px;
    color: rgb(14, 63, 121);
    background-color: rgba(255, 240, 152, 0.514);
}
a:visited{
 color: black;
}
.in{
    margin: 15px;
    font-size: 17px;
}
.ins {
    width: 177px;
}
::selection{
    background-color: rgb(255, 215, 162);
}
@media screen and(max-width:400px){
    .vi{
        width: 200px;
    }
    h1{
        font-size: 30px;
    }
}
@media screen and(min-width:401px)and(max-width:800px){
   h1{
        font-size: 34px;
    }  
}
